<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body id="p2">
        <div class="titulo-div">
            <h1>PAGINA 2</h1>
        </div>

        <div class="menu-pnl-buttons">
            <a id="btnp1" href="../index.html" class="menu-button">
                <div>
                    <img src="../src/icons/lupa.png">
                </div>
                <div>
                    <span>Consultar Index</span>
                </div>
            </a>
        </div>
        <div class="menu-pnl-buttons">

            
            <a id="btnp2" href="pagina2.html" class="menu-button">
                <div>
                    <img src="../src/icons/capacete.png">
                </div>
                <div>
                    <span>Consultar P2</span>
                </div>
            </a>

            <a id="btnp3" href="pagina3.html" class="menu-button">
                <div>
                    <img src="../src/icons/corrida.png">
                </div>
                <div>
                    <span>Consultar P3</span>
                </div>
            </a>

            <a id="btnp4" href="pagina4.html" class="menu-button">
                <div>
                    <img src="../src/icons/capacete.png">
                </div>
                <div>
                    <span>Consultar P3</span>
                </div>
            </a>
 
        </div>
    </body>
</html>