<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <div class="menu-pnl-buttons">

            <a class="menu-button">
                <div>
                    <img src="src/icons/capacete.png">
                </div>
                <div>
                    <span>Consultar P2</span>
                </div>
            </a>

            <a class="menu-button">
                <div>
                    <img src="src/icons/lupa.png">
                </div>
                <div>
                    <span>Consultar P1</span>
                </div>
            </a>
            
            
        </div>
    </body>
</html>