.menu-pnl-buttons {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
a{
    text-decoration: none;
}
.titulo-div{
    text-align: center;
    align-items: center;
}

.menu-button{
    text-align: center;
    height: 150px;
    width: 250px;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.menu-button:hover{
    background-color: rgb(206, 206, 206);
}

.menu-button img{
    margin: 0;
    padding: 0;
    width: 128px;
    height: 128px;
}

.menu-navbar-top{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: salmon;
    margin: 0;
    padding: 0;
}

#btnp1:hover{
    background-color: lightgreen;
}

#btnp2:hover{
    background-color: lightcoral;
}

#btnp3:hover{
    background-color: lightcyan;
}

#btnp4:hover{
    background-color: lightyellow;
}

#p1{
    background-color: green;
}
#p2{
    background-color: coral;
}
#p3{
    background-color:cyan ;
}
#p4{
    background-color: yellow;
}